.sign-in {
  width: 48%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
  .buttons {
    justify-content: center;
  }
  
  .buttons button {
    width: 100%;
  }
  
  .buttons button:first-of-type {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .sign-in {
    width: 100%;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 415px) {
  .sign-in {

    h2 {
      margin-top: 0;
    }

    .group {
      margin: 0;
    }

    button {
      width: 100%;
    }

    button:first-of-type {
      margin-bottom: 10px;
    }
  }
}
