.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .userName {
    padding: 10px 15px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;

    img {
      display: block;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  .options {
    // width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 530px) {
  .header {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
    .logo-container {
      margin-bottom: 20px;
    }
    .options {
      width: 100%;
      justify-content: space-between;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 410px) {
  .header {
    flex-direction: column;

    .options {
      flex-wrap: wrap;

      .option {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid lightgray;
      }

      .cart-icon {
        margin: 0 auto;
      }
    }
  }
}